<div class="topnav">
  <%= link_to 'Mammals', mammals_path %>
  <%= link_to 'Birds', birds_path %>
  <%= link_to 'Reptiles', reptiles_path %>
</div>

<div>
  <h1> Welcome Shyam Sreenivasan !!! </h1>
</div>